/* Pathodoctor Home page Css main content goes here */
.container .card{
	margin-top:5px;
	margin-bottom:5px;
	text-align:center;
	color:#0080FF;
	border-radius:10px;	
}

.container .card:hover{
 color:#80FF00;
}

iframe{
	opacity:0.9;
	height:250px;
	width:100%;


}

iframe:hover{
	opacity:1;
	}
#myCarousel{
	border-radius:20px;
}

 .container .carousel-caption{
 	color:#FF0000;
 	font-weight: 1000;
 	font-family:Brush Script MT,cursive;
 	text-align:relative;
 	border-radius:50%;
 	position:bottom;
 	margin-top:;
 }
 
 .container .search{

  border-left:10px solid grey;
  border-right:10px solid grey;
  font-weight:1200px;
  background-opacity:0.5;
  background-repeat:repeat;
}

.home select{
	width:30%; 
	height:30px;
	color:green;
	border-radius:10px;
	 border:1px solid grey;
	font-size: 20px;
	background-color:transparent;
}


 /* End */

/* About page css goes here  */
 .content{
  position:relative;
  background-origin:border-box;
  top:0;
  bottom: 0;
  background-size:100%;
  background-repeat: repeat-y;
  background-image:linear-gradient(to right,blue 60%,white 100%),url('image/header.gif');
background-blend-mode:luminosity;
background-color:rgba(255,0,70,0.8);
 border:5px solid #FF7E00;
 border-radius:10px;
 text-align:left;

color:#81FF00;
font-family:Chiller;
font-weight:100px;
font-size:25px;
width:100%;
height:20%;
}
.content h1{
background-color:grey;
text-align:center;
color:white;
 }

/* end */



 /* css for pathodoctor features page...*/
.features{
	list-style-type:square;
	display:inline-block;
	font-family:Kristen ITC;
	font-size:20px;
	border:5px solid #FF7E00;
	border-radius:10px
}
.features h1{
	text-align:center;
	background-color:#F2687D;
	color:white;
}
.features ol li:nth-child(odd){
	background-color:white;
	color:green;
	margin-top:2px;
}
.features ol li:nth-child(even){
	background-color:#F2687D;
	color:yellow;
	margin-top:2px;
}

.features ol li:hover:nth-child(odd){
	background-color:#FFB9FF;

}



/* end */


/* BookAppointment page css defined here */
.container1 .appoint .row{
	font-family:Bauhaus 93;
	
	text-orientation: 90deg;
	text-align: center;
	color:grey;
	position:relative;
	background:rgba(153,181,253,0.6);
	background-repeat:no-repeat;
	background-position:relative;
	background-blend-mode:screen;
	background-size:100%;
	background-image:linear-gradient(to right,green 10%,red  100%),url('./image/background.jpg');


	
}
 .container1 .appoint .cardappoint{
	border-radius:10px;
	font-weight: 800px;
	align:center;
text-overflow: none;
margin-top:40px;
margin-right:20px;
margin-bottom:40px;
margin-left:20px;
height:400px;
 border:1px solid grey;


}
.container1 .appoint .row .col-sm-8{
	color:white;
	font-size:25px;
	margin-top:50px;
	padding:50px;
	text-indent: 10px;
	
}

.container1 .appoint{
	height:500px;
	width:100%;
	
}
.container1 .appoint .cardappoint .input-group{
	padding:10px;

	}

@media(min-width:200px )AND (max-width:700px){
	.container1 .appoint{
		margin-bottom: 355px;
	}
}
/* end */