#myBtn {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 10px;
  z-index: 99;
  font-size: 50px;
  border: none;
  outline: none;
  background-color:transparent;
  color:#77B201;;
  cursor: pointer;
  padding: 15px;
  border-radius:30px ;
  opacity:0.8;
}

#myBtn:hover {
  color:red;
  background-color: transparent;
}